nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

.homepage
{
  background-image: linear-gradient(to bottom, maroon, maroon 50%, white 50%);
  background-attachment:fixed;
  background-repeat: no-repeat;
}

.logo_text
{
    font-size: 15px;
}

.title
{
    color: #FFFFFF;
    font-size: 55px;
    font-weight: lighter;
    text-align: center;
}


.heading
{
    font-size: 15px;
}

.opening_statement
{
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    font-style: oblique;
}

.container {
  background: linear-gradient(,
    #ff9e2c 0%,
    #ff9e2c 50%,
    #b6701e 50%,
    #b6701e 100%
}

}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 50%;
  padding: 0 4px;
}

.column2 {
  margin-top: 8px;
  vertical-align: right;
}
