
{% extends "layout.html" %}

{% block title %}
    Directory
{% endblock %}

{% block main %}
    <head>
        <title>Search Form</title>
        <link href="styles.css" rel="stylesheet">
    </head>
    <body>
        Happy Searching!
    </body>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Graduation Year</th>
                <th>House</th>
                <th>Concentration</th>
                <th>Current City</th>
                <th>Email</th>
                <th>Organization</th>
            </tr>
        </thead>
        <tbody>
            {% for user in directory %}
                <tr>
                    <td> <a href = "/self/{{user.name}}">{{ user.name }}</a></td>
                    <td> {{ user.graduation_year }}</td>
                    <td> {{ user.house }}</td>
                    <td> {{ user.concentration }}</td>
                    <td> {{ user.current_city }}</td>
                    <td> {{ user.email }}</td>
                    <td> {{ user.organization }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}



