
{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
        <h1>
             Official Alumni Database of the Harvard College South Asian Association and Asian American Association
        </h1>

        <h2>
            A community that connects Harvard's alumni and students.
        </h2>
        <p>
            This database was created to store updated information on Harvard's SAA and AAA Alumni. A platform where undergraduate students can find alumni who have worked in their fields of interest and learn about their job hisotries and time at Harvard.
        </p>

        <h3>
            South Asian Association
        </h3>
            <img src="saa.jpg" alt="SAA" width="200" height="200">
         <h4>
            Asian American Association
        </h4>
            <img src= "aaa.jpg" alt="AAA" width="200" height="200">

        <h5>
            <a href="/form"> Update My Alumni Information</a>
        </h5>

{% endblock %}


