
{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}

        <h1>
            <img src="harvard logo.png" alt="Harvard logo" width="400" height="400">
            <p class="opening_statement">
                This site serves as a database to connect Harvard College's Asian American Association and South Asian Association alumni and current students. To get started, <a href="/directory">search for a name</a> or <a href="/form">update your own info</a>.</a></p>
            </p>
        </h1>
        <h2 class="subtext">
            <img src="static/saa logo.png" alt="SAA logo" width="400" height="400">
            <p class="logo text">South Asian Association<a href="/saa"></a>.</a></p></p>
            <img src="static/aaa logo.png" alt="AAA logo" width="600" height="400">
            <p class="logo text">Asian American Association<a href="/aaa"></a>.</a></p></p>
        </h2>

{% endblock %}


